.vscode
.qwen
QWEN.md
.helpers
.config
*.sh

src/api/bin/*
src/api/obj/*
src/core/bin/*
src/core/obj/*
src/external/bin/*
src/external/obj/*

tests/unit/bin/*
tests/unit/obj/*
tests/integration/bin/*
tests/integration/obj/*

src/api/appsettings.Development.json